/*
 * Colors
 */
// $color-brand: #3aaff9;
$color-brand: #3fb9dd;
$color-footer: #dce2e6;

$color-text-light: #f9fdff;
$color-text-dark: #01131b;
$color-text-subheader: #552d6c;

$color-background: #f9fdff;

/*
 * Named Breakpoints
 */
$break-mobile: 768px; // Breakpoint for mobile/desktop

/*
 * Dimensions
 */
$height-header: 50px;
